@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    /*Background gradient:*/
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /*Text*/
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    /*Dividers*/
    --light-grayish-blue: hsl(240, 5%, 91%);
    --font-kumbh-sans: "Kumbh Sans", Helvetica Neue, helvetica, arial, sans-serif;
}

body {

    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
}

div {
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20.375rem;
    width: 20.3rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 3.5rem 3.5rem -2rem rgba(0, 0, 0, .55);
    margin-top: 7.8rem;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 76%;
    background-position-x: 50%;
    background-position-y: -8rem;
}

.card .hero {
    /* height: 9em; */
    margin: -7.8rem 0 3.7rem 0;
    width: 100%;
}

.card .hero .image-swap {
    background: no-repeat center/75% url('../images/illustration-woman-online-mobile.svg');
    height: 13rem;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}
.card .hero .box-image{
    display: none;
}

.card .header {
    font-family: var(--font-kumbh-sans);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.accordion-container {
    margin: .5rem 1.5rem 3rem 1.5rem;
}

.accordion-container .accordions {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: var(--font-kumbh-sans);
    font-weight: 400;
    font-size: .8rem;
}

.accordions li {
    list-style-type: none;
    transition: all .25s;
    border: none;
}

.accordions li {
    border-bottom: 1px solid var(--light-grayish-blue);
}

.accordion-container input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all .25s;
    height: 3.125rem;
    color: var(--very-dark-grayish-blue);
}

.accordions .accordion-title:hover {
    color: var(--soft-red);
}

.accordions .accordion-heading {
    display: inline-block;
    white-space: nowrap;
    transform-origin: bottom;
    height: .7rem;
    width: .7rem;
    margin-bottom: .4rem;
    transition: all .25s;
    padding: 0 0 0 1rem;
}

.accordions .accordion-content {
    display: none;
    align-items: center;
    padding: 0 0 .6rem 0;
    transition: all .25s;
    color: var(--dark-grayish-blue);
}

[value="accordion1"]:checked~.accordions [for="accordion1"]+.accordion-content,
[value="accordion2"]:checked~.accordions [for="accordion2"]+.accordion-content,
[value="accordion3"]:checked~.accordions [for="accordion3"]+.accordion-content,
[value="accordion4"]:checked~.accordions [for="accordion4"]+.accordion-content,
[value="accordion5"]:checked~.accordions [for="accordion5"]+.accordion-content {
    display: flex;
    transition: all .25s;
}

[value="accordion1"]:checked~.accordions [for="accordion1"]>.accordion-heading,
[value="accordion2"]:checked~.accordions [for="accordion2"]>.accordion-heading,
[value="accordion3"]:checked~.accordions [for="accordion3"]>.accordion-heading,
[value="accordion4"]:checked~.accordions [for="accordion4"]>.accordion-heading,
[value="accordion5"]:checked~.accordions [for="accordion5"]>.accordion-heading {
    transform: rotate(180deg);
    transition: all .25s;
}

[value="accordion1"]:checked~.accordions [for="accordion1"],
[value="accordion2"]:checked~.accordions [for="accordion2"],
[value="accordion3"]:checked~.accordions [for="accordion3"],
[value="accordion4"]:checked~.accordions [for="accordion4"],
[value="accordion5"]:checked~.accordions [for="accordion5"] {
    font-weight: 700;
}

.attribution {
    font-size: 11px;
    text-align: center;
}


.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width :

/* 1440px */
830px) {
    .card {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 3rem;
        align-items: center;
        width: 58rem;
        background-image: url('../images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-position: -2956% 69%;
        background-size: 98%;
        padding: 3rem 5rem 3rem 0;
    }

    .card .hero {
        position: relative;
        width: 55%;
        display: inline-block;
        height: 23rem;
        margin: 0;
        float: left;
    }

    .card .hero .image-swap-mask {
        height: 100%;
        overflow: hidden;
    }

    .card .hero .image-swap {
        background: no-repeat right/100% url('../images/illustration-woman-online-desktop.svg');
        margin: 0 0 0 -5rem;
        height: 100%;
        display: inline-block;
        float: left
    }

    .card .content {
        margin: 0;
        width: 40%;
        display: inline-block;
        float: right;
    }

    .card .content .header {
        text-align: left;
        padding: 0 0 1.5rem 0;
    }

    .card .content .accordion-container {
        padding: 0;
        margin: 0;
    }

    .card .hero .box-image {
        position: relative;
        float: left;
        margin-top:  -13rem;
        margin-left: -5rem;
    }
}