@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');


:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --paragraph-white: hsla(0, 0%, 100%, 0.75);
    --headings-white: hsla(0, 0%, 100%, 0.6);
    --font-inter: "Inter", Helvetica Neue, helvetica, arial, sans-serif;
    --font-lexend:  "Lexend Deca", Helvetica Neue, helvetica, arial, sans-serif;
}

body {
    background-color: var(--very-dark-blue);
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex--center-h{
    justify-content: center;
}
.flex--center-v{
    align-items: center;
}
.flex--space-around{
    justify-content: space-around;
}
#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--dark-desaturated-blue);
    margin: 1.5rem;
    border-radius: .5rem;
    overflow: hidden;
    max-width: 20.375rem;
}

.card--hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
     background: no-repeat center/cover url('../images/image-header-mobile.jpg');
     background-blend-mode: multiply;
     background-color: var(--soft-violet);
    height: 100%;
    width: 100%;
    min-height: 15rem;
}
.card--hero::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--soft-violet);
    height: 100%;
    width: 100%;
    min-height: 15rem;
    opacity: .3;
}
.card--content{
    box-sizing: border-box;
    height: 100%;
    padding: 1.3rem;
}
.card--header h2{
    color: #ffffff;
    font-family: var(--font-inter);
    font-size: 1.7rem;
    text-align: center;
}
.card--description{
    color: var(--paragraph-white);
    font-family: var(--font-lexend);
    font-weight: 400;
    font-size: .9rem;
    text-align: center;
    line-height: 1.5rem;
}
.card--stats{
    color: #ffffff;
    font-family: var(--font-inter);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.3rem 0;
    text-transform: uppercase;
}
.card--stats ul{
    margin: 0;
    padding: 0;
    flex-grow: 1;
    height: 15rem;
}
.card--stats li{
    list-style: none;
    display: block;
    text-align: center;
}
.card--stats-headings{
    display: block;
    font-size: .7rem;
    font-weight: 400;
    color: var(--headings-white);
    letter-spacing: .1rem;
    margin-top:  .5rem;
}
 .highlight{
    color: var(--soft-violet);
}

footer {
    position: absolute;
    bottom: 1.5rem;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 1.5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width : 1440px) {
    .card{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        max-width: 69rem;
    }
    .card--hero, .card--content{
        min-height: 27.8rem;
    }
    .card--content{
        max-width: 50%;
        padding: 2rem 5rem 2rem 5rem;
        justify-content: space-between;
    }
    .card--header h2, .card--description{
        text-align: left;
    }
    .card--header{
        margin-bottom: -4rem;
    }
    .card--header h2{
        font-size: 2.2rem;
    }

    .card--stats ul{
        flex-direction: row;
        justify-content: space-between;
        height:  auto;
    }
    .card--stats li{
        text-align: left;
    }
}